# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fhpe1\Documents\Skolearbeid\Problemt_Solving_With_Scripting\Learning_Python\Giraffe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
